html
  head
    title Welcome
  body
    center
      h1 Welcome to Yaatri.com
    center
      h3 One stop for all travelling needs
    form(method="post", action="/register", name="loginForm")
        a(href="/yatri", id="Sign_In") Sign in
        a(href="/register", id="Sign_In") New User
    